<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="assets/logo.jpeg" alt="Logo" width="160" height="160" class="me-2">
      <span class="fs-3">C&C Camila Collection</span>
    </a>
  </div>
  <div class="d-flex justify-content-center align-items-center" style="margin-top: 6px;">
    <span class="fs-5">C&C Camila Collection tenemos calzado de temporada hecho a tu medida!!</span>
  </div>
</nav>
