<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container d-flex justify-content-center">
    <a class="navbar-brand d-flex align-items-center flex-column" href="#">
      <div class="logo-container">
        <img src="assets/logo.png" alt="Logo" width="160" height="160" class="me-2">
      </div>
      <span class="fs-3">C&C Camila Collection</span>
    </a>
  </div>
</nav>

<div class="container tagline-container">
  <div class="d-flex justify-content-center align-items-center">
    <span class="tagline fs-5">Bienvenida a Camila Collection
      Aquí elaboramos el calzado a tu gusto
      Tienes la opción de modificar cada  modelo a tu gusto desde variar el tono o  el alto o bajo del tacon
      Escríbenos y con gusto te resolvemos tus dudas</span>
  </div>
</div>

<div class="container">
  <div class="d-grid gap-2 my-3">
    <a href="https://wa.me/+5213319984927?text=Hola,%20me%20gustaría%20información%20sobre%20el%20calzado" target="_blank" class="btn btn-success">Contactar al vendedor por WhatsApp</a>
  </div>
</div>
